<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD inventory app</title>
</head>
<body>
    {% block header %}
        <header id="header">
            <a href="/">Home</a>
            <a href="/products/">Products</a>
            <a href="/inventory/">Inventory</a>
            <a href="/locations/">Locations</a>
            <a href="/shelves/">Shelves</a>
        </header>
    {% endblock header %}
    {% block content %}{% endblock content %}
</body>
</html>