{% extends 'crud/index.html' %}

{% block content %}
    <a href="{% url 'crud:add' 'inventory' %}" class="btn">Add Inventory</a>
    <h3>All inventory</h3>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Stock</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="/inventory/{{ item.id }}/">{{ item.product }}</a></td>
                    <td>{{ item.stock }}</td>
                    <td>{{ item.location }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

