{% extends 'crud/index.html' %}

{% block content %}
    <a href="{% url 'crud:add' 'locations' %}" class="btn">Add Location</a>
    <h3>All locations</h3>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="/locations/{{ location.id }}/">{{ location.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

