{% extends 'crud/index.html' %}

{% block content %}
    <a href="{% url 'crud:add' 'products' %}" class="btn">Add Product</a>
    <h3>All products</h3>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="/products/{{ product.id }}/">{{ product.name }}</a></td>
                    <td>${{ product.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

