{% extends 'crud/index.html' %}

{% block content %}
    <a href="{% url 'crud:add' 'shelves' %}" class="btn">Add Shelf</a>
    <div>All shelves</div>
    <table>
        <thead>
            <tr></tr>
            <tr>Name</tr>
            <tr>Location</tr>
        </thead>
        <tbody>
            {% for shelf in shelves %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="/shelves/{{ shelf.id }}/">{{ shelf.shelf_name }}</a></td>
                    <td>{{ shelf.warehouse }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

